html,
body {
  height: 100%;
}

@-webkit-keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1200px);
    transform: translate3d(0, 0, 1200px);
  }
}

@keyframes move {
  100% {
    -webkit-transform: translate3d(0, 0, 1200px);
    transform: translate3d(0, 0, 1200px);
  }
}
.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bubble-wrap {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-perspective: 600px;
  perspective: 600px;
}

.bubble {
  position: absolute;
  opacity: 0.7;
  -webkit-animation: move 15s infinite;
  animation: move 15s infinite;
}

.bubble:nth-child(1) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
  -webkit-transform: translate3d(907px, 210px, 272px);
  transform: translate3d(907px, 210px, 272px);
  background: #1c1717;
}

.bubble:nth-child(2) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -1.6s;
  animation-delay: -1.6s;
  -webkit-transform: translate3d(365px, 214px, 141px);
  transform: translate3d(365px, 214px, 141px);
  background: #1c1717;
}

.bubble:nth-child(3) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
  -webkit-transform: translate3d(231px, 556px, 299px);
  transform: translate3d(231px, 556px, 299px);
  background: #1c1717;
}

.bubble:nth-child(4) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.2s;
  animation-delay: -3.2s;
  -webkit-transform: translate3d(346px, 599px, 32px);
  transform: translate3d(346px, 599px, 32px);
  background: #1c1817;
}

.bubble:nth-child(5) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  -webkit-transform: translate3d(275px, 42px, 425px);
  transform: translate3d(275px, 42px, 425px);
  background: #1c1717;
}

.bubble:nth-child(6) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
  -webkit-transform: translate3d(537px, 328px, 258px);
  transform: translate3d(537px, 328px, 258px);
  background: #1c1817;
}

.bubble:nth-child(7) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5.6s;
  animation-delay: -5.6s;
  -webkit-transform: translate3d(524px, 122px, 215px);
  transform: translate3d(524px, 122px, 215px);
  background: #1c1717;
}

.bubble:nth-child(8) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -6.4s;
  animation-delay: -6.4s;
  -webkit-transform: translate3d(31px, 212px, 207px);
  transform: translate3d(31px, 212px, 207px);
  background: #1c1717;
}

.bubble:nth-child(9) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -7.2s;
  animation-delay: -7.2s;
  -webkit-transform: translate3d(12px, 399px, 276px);
  transform: translate3d(12px, 399px, 276px);
  background: #1c1817;
}

.bubble:nth-child(10) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  -webkit-transform: translate3d(911px, 785px, 285px);
  transform: translate3d(911px, 785px, 285px);
  background: #1c1817;
}

.bubble:nth-child(11) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -8.8s;
  animation-delay: -8.8s;
  -webkit-transform: translate3d(717px, 459px, 148px);
  transform: translate3d(717px, 459px, 148px);
  background: #1c1717;
}

.bubble:nth-child(12) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -9.6s;
  animation-delay: -9.6s;
  -webkit-transform: translate3d(138px, 431px, 343px);
  transform: translate3d(138px, 431px, 343px);
  background: #1c1817;
}

.bubble:nth-child(13) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -10.4s;
  animation-delay: -10.4s;
  -webkit-transform: translate3d(921px, 881px, 182px);
  transform: translate3d(921px, 881px, 182px);
  background: #1c1817;
}

.bubble:nth-child(14) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -11.2s;
  animation-delay: -11.2s;
  -webkit-transform: translate3d(915px, 25px, 179px);
  transform: translate3d(915px, 25px, 179px);
  background: #1c1717;
}

.bubble:nth-child(15) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  -webkit-transform: translate3d(310px, 128px, 428px);
  transform: translate3d(310px, 128px, 428px);
  background: #1c1717;
}

.bubble:nth-child(16) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -12.8s;
  animation-delay: -12.8s;
  -webkit-transform: translate3d(398px, 29px, 84px);
  transform: translate3d(398px, 29px, 84px);
  background: #1c1817;
}

.bubble:nth-child(17) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -13.6s;
  animation-delay: -13.6s;
  -webkit-transform: translate3d(705px, 670px, 401px);
  transform: translate3d(705px, 670px, 401px);
  background: #1c1717;
}

.bubble:nth-child(18) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -14.4s;
  animation-delay: -14.4s;
  -webkit-transform: translate3d(201px, 399px, 343px);
  transform: translate3d(201px, 399px, 343px);
  background: #1c1717;
}

.bubble:nth-child(19) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -15.2s;
  animation-delay: -15.2s;
  -webkit-transform: translate3d(399px, 567px, 264px);
  transform: translate3d(399px, 567px, 264px);
  background: #1c1717;
}

.bubble:nth-child(20) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  -webkit-transform: translate3d(281px, 263px, 154px);
  transform: translate3d(281px, 263px, 154px);
  background: #1c1717;
}

.bubble:nth-child(21) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -16.8s;
  animation-delay: -16.8s;
  -webkit-transform: translate3d(769px, 90px, 392px);
  transform: translate3d(769px, 90px, 392px);
  background: #1c1817;
}

.bubble:nth-child(22) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -17.6s;
  animation-delay: -17.6s;
  -webkit-transform: translate3d(48px, 176px, 338px);
  transform: translate3d(48px, 176px, 338px);
  background: #1c1717;
}

.bubble:nth-child(23) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -18.4s;
  animation-delay: -18.4s;
  -webkit-transform: translate3d(613px, 921px, 220px);
  transform: translate3d(613px, 921px, 220px);
  background: #1c1717;
}

.bubble:nth-child(24) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -19.2s;
  animation-delay: -19.2s;
  -webkit-transform: translate3d(93px, 443px, 150px);
  transform: translate3d(93px, 443px, 150px);
  background: #1c1817;
}

.bubble:nth-child(25) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -20s;
  animation-delay: -20s;
  -webkit-transform: translate3d(178px, 724px, 190px);
  transform: translate3d(178px, 724px, 190px);
  background: #1c1817;
}

.bubble:nth-child(26) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -20.8s;
  animation-delay: -20.8s;
  -webkit-transform: translate3d(11px, 296px, 71px);
  transform: translate3d(11px, 296px, 71px);
  background: #1c1717;
}

.bubble:nth-child(27) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -21.6s;
  animation-delay: -21.6s;
  -webkit-transform: translate3d(637px, 961px, 30px);
  transform: translate3d(637px, 961px, 30px);
  background: #1c1717;
}

.bubble:nth-child(28) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -22.4s;
  animation-delay: -22.4s;
  -webkit-transform: translate3d(650px, 308px, 123px);
  transform: translate3d(650px, 308px, 123px);
  background: #1c1817;
}

.bubble:nth-child(29) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -23.2s;
  animation-delay: -23.2s;
  -webkit-transform: translate3d(841px, 181px, 365px);
  transform: translate3d(841px, 181px, 365px);
  background: #1c1717;
}

.bubble:nth-child(30) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  -webkit-transform: translate3d(223px, 929px, 423px);
  transform: translate3d(223px, 929px, 423px);
  background: #1c1817;
}

.bubble:nth-child(31) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -24.8s;
  animation-delay: -24.8s;
  -webkit-transform: translate3d(648px, 37px, 366px);
  transform: translate3d(648px, 37px, 366px);
  background: #1c1717;
}

.bubble:nth-child(32) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -25.6s;
  animation-delay: -25.6s;
  -webkit-transform: translate3d(797px, 254px, 55px);
  transform: translate3d(797px, 254px, 55px);
  background: #1c1717;
}

.bubble:nth-child(33) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -26.4s;
  animation-delay: -26.4s;
  -webkit-transform: translate3d(50px, 512px, 240px);
  transform: translate3d(50px, 512px, 240px);
  background: #1c1817;
}

.bubble:nth-child(34) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -27.2s;
  animation-delay: -27.2s;
  -webkit-transform: translate3d(496px, 894px, 31px);
  transform: translate3d(496px, 894px, 31px);
  background: #1c1717;
}

.bubble:nth-child(35) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  -webkit-transform: translate3d(960px, 899px, 26px);
  transform: translate3d(960px, 899px, 26px);
  background: #1c1717;
}

.bubble:nth-child(36) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -28.8s;
  animation-delay: -28.8s;
  -webkit-transform: translate3d(257px, 262px, 181px);
  transform: translate3d(257px, 262px, 181px);
  background: #1c1817;
}

.bubble:nth-child(37) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -29.6s;
  animation-delay: -29.6s;
  -webkit-transform: translate3d(661px, 493px, 159px);
  transform: translate3d(661px, 493px, 159px);
  background: #1c1717;
}

.bubble:nth-child(38) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -30.4s;
  animation-delay: -30.4s;
  -webkit-transform: translate3d(172px, 190px, 250px);
  transform: translate3d(172px, 190px, 250px);
  background: #1c1817;
}

.bubble:nth-child(39) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -31.2s;
  animation-delay: -31.2s;
  -webkit-transform: translate3d(987px, 967px, 191px);
  transform: translate3d(987px, 967px, 191px);
  background: #1c1817;
}

.bubble:nth-child(40) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
  -webkit-transform: translate3d(492px, 984px, 103px);
  transform: translate3d(492px, 984px, 103px);
  background: #1c1717;
}

.bubble:nth-child(41) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -32.8s;
  animation-delay: -32.8s;
  -webkit-transform: translate3d(170px, 518px, 69px);
  transform: translate3d(170px, 518px, 69px);
  background: #1c1717;
}

.bubble:nth-child(42) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -33.6s;
  animation-delay: -33.6s;
  -webkit-transform: translate3d(394px, 1px, 95px);
  transform: translate3d(394px, 1px, 95px);
  background: #1c1717;
}

.bubble:nth-child(43) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -34.4s;
  animation-delay: -34.4s;
  -webkit-transform: translate3d(849px, 79px, 476px);
  transform: translate3d(849px, 79px, 476px);
  background: #1c1817;
}

.bubble:nth-child(44) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -35.2s;
  animation-delay: -35.2s;
  -webkit-transform: translate3d(748px, 26px, 376px);
  transform: translate3d(748px, 26px, 376px);
  background: #1c1717;
}

.bubble:nth-child(45) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -36s;
  animation-delay: -36s;
  -webkit-transform: translate3d(673px, 72px, 131px);
  transform: translate3d(673px, 72px, 131px);
  background: #1c1817;
}

.bubble:nth-child(46) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -36.8s;
  animation-delay: -36.8s;
  -webkit-transform: translate3d(665px, 522px, 438px);
  transform: translate3d(665px, 522px, 438px);
  background: #1c1817;
}

.bubble:nth-child(47) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -37.6s;
  animation-delay: -37.6s;
  -webkit-transform: translate3d(805px, 90px, 298px);
  transform: translate3d(805px, 90px, 298px);
  background: #1c1817;
}

.bubble:nth-child(48) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -38.4s;
  animation-delay: -38.4s;
  -webkit-transform: translate3d(863px, 145px, 135px);
  transform: translate3d(863px, 145px, 135px);
  background: #1c1717;
}

.bubble:nth-child(49) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -39.2s;
  animation-delay: -39.2s;
  -webkit-transform: translate3d(840px, 649px, 268px);
  transform: translate3d(840px, 649px, 268px);
  background: #1c1717;
}

.bubble:nth-child(50) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
  -webkit-transform: translate3d(266px, 932px, 200px);
  transform: translate3d(266px, 932px, 200px);
  background: #1c1817;
}

.bubble:nth-child(51) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -40.8s;
  animation-delay: -40.8s;
  -webkit-transform: translate3d(98px, 206px, 282px);
  transform: translate3d(98px, 206px, 282px);
  background: #1c1717;
}

.bubble:nth-child(52) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -41.6s;
  animation-delay: -41.6s;
  -webkit-transform: translate3d(161px, 926px, 271px);
  transform: translate3d(161px, 926px, 271px);
  background: #1c1817;
}

.bubble:nth-child(53) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -42.4s;
  animation-delay: -42.4s;
  -webkit-transform: translate3d(525px, 916px, 404px);
  transform: translate3d(525px, 916px, 404px);
  background: #1c1817;
}

.bubble:nth-child(54) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -43.2s;
  animation-delay: -43.2s;
  -webkit-transform: translate3d(956px, 217px, 60px);
  transform: translate3d(956px, 217px, 60px);
  background: #1c1717;
}

.bubble:nth-child(55) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -44s;
  animation-delay: -44s;
  -webkit-transform: translate3d(135px, 739px, 68px);
  transform: translate3d(135px, 739px, 68px);
  background: #1c1717;
}

.bubble:nth-child(56) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -44.8s;
  animation-delay: -44.8s;
  -webkit-transform: translate3d(44px, 234px, 415px);
  transform: translate3d(44px, 234px, 415px);
  background: #1c1717;
}

.bubble:nth-child(57) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -45.6s;
  animation-delay: -45.6s;
  -webkit-transform: translate3d(517px, 711px, 204px);
  transform: translate3d(517px, 711px, 204px);
  background: #1c1717;
}

.bubble:nth-child(58) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -46.4s;
  animation-delay: -46.4s;
  -webkit-transform: translate3d(179px, 300px, 258px);
  transform: translate3d(179px, 300px, 258px);
  background: #1c1817;
}

.bubble:nth-child(59) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -47.2s;
  animation-delay: -47.2s;
  -webkit-transform: translate3d(764px, 861px, 471px);
  transform: translate3d(764px, 861px, 471px);
  background: #1c1717;
}

.bubble:nth-child(60) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -48s;
  animation-delay: -48s;
  -webkit-transform: translate3d(868px, 894px, 166px);
  transform: translate3d(868px, 894px, 166px);
  background: #1c1817;
}

.bubble:nth-child(61) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -48.8s;
  animation-delay: -48.8s;
  -webkit-transform: translate3d(801px, 635px, 268px);
  transform: translate3d(801px, 635px, 268px);
  background: #1c1817;
}

.bubble:nth-child(62) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -49.6s;
  animation-delay: -49.6s;
  -webkit-transform: translate3d(847px, 197px, 237px);
  transform: translate3d(847px, 197px, 237px);
  background: #1c1717;
}

.bubble:nth-child(63) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -50.4s;
  animation-delay: -50.4s;
  -webkit-transform: translate3d(792px, 806px, 290px);
  transform: translate3d(792px, 806px, 290px);
  background: #1c1717;
}

.bubble:nth-child(64) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -51.2s;
  animation-delay: -51.2s;
  -webkit-transform: translate3d(876px, 713px, 452px);
  transform: translate3d(876px, 713px, 452px);
  background: #1c1817;
}

.bubble:nth-child(65) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -52s;
  animation-delay: -52s;
  -webkit-transform: translate3d(933px, 179px, 277px);
  transform: translate3d(933px, 179px, 277px);
  background: #1c1717;
}

.bubble:nth-child(66) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -52.8s;
  animation-delay: -52.8s;
  -webkit-transform: translate3d(386px, 795px, 384px);
  transform: translate3d(386px, 795px, 384px);
  background: #1c1717;
}

.bubble:nth-child(67) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -53.6s;
  animation-delay: -53.6s;
  -webkit-transform: translate3d(349px, 871px, 277px);
  transform: translate3d(349px, 871px, 277px);
  background: #1c1817;
}

.bubble:nth-child(68) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -54.4s;
  animation-delay: -54.4s;
  -webkit-transform: translate3d(562px, 739px, 128px);
  transform: translate3d(562px, 739px, 128px);
  background: #1c1717;
}

.bubble:nth-child(69) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -55.2s;
  animation-delay: -55.2s;
  -webkit-transform: translate3d(964px, 358px, 367px);
  transform: translate3d(964px, 358px, 367px);
  background: #1c1717;
}

.bubble:nth-child(70) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -56s;
  animation-delay: -56s;
  -webkit-transform: translate3d(491px, 354px, 328px);
  transform: translate3d(491px, 354px, 328px);
  background: #1c1717;
}

.bubble:nth-child(71) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -56.8s;
  animation-delay: -56.8s;
  -webkit-transform: translate3d(987px, 708px, 321px);
  transform: translate3d(987px, 708px, 321px);
  background: #1c1717;
}

.bubble:nth-child(72) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -57.6s;
  animation-delay: -57.6s;
  -webkit-transform: translate3d(672px, 356px, 138px);
  transform: translate3d(672px, 356px, 138px);
  background: #1c1817;
}

.bubble:nth-child(73) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -58.4s;
  animation-delay: -58.4s;
  -webkit-transform: translate3d(341px, 386px, 417px);
  transform: translate3d(341px, 386px, 417px);
  background: #1c1817;
}

.bubble:nth-child(74) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -59.2s;
  animation-delay: -59.2s;
  -webkit-transform: translate3d(845px, 538px, 382px);
  transform: translate3d(845px, 538px, 382px);
  background: #1c1717;
}

.bubble:nth-child(75) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  -webkit-transform: translate3d(290px, 667px, 411px);
  transform: translate3d(290px, 667px, 411px);
  background: #1c1817;
}

.bubble:nth-child(76) {
  height: 5px;
  width: 5px;
  -webkit-animation-delay: -60.8s;
  animation-delay: -60.8s;
  -webkit-transform: translate3d(802px, 843px, 274px);
  transform: translate3d(802px, 843px, 274px);
  background: #1c1717;
}

.bubble:nth-child(77) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -61.6s;
  animation-delay: -61.6s;
  -webkit-transform: translate3d(708px, 65px, 389px);
  transform: translate3d(708px, 65px, 389px);
  background: #1c1817;
}

.bubble:nth-child(78) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -62.4s;
  animation-delay: -62.4s;
  -webkit-transform: translate3d(432px, 935px, 384px);
  transform: translate3d(432px, 935px, 384px);
  background: #1c1717;
}

.bubble:nth-child(79) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -63.2s;
  animation-delay: -63.2s;
  -webkit-transform: translate3d(134px, 636px, 180px);
  transform: translate3d(134px, 636px, 180px);
  background: #1c1817;
}

.bubble:nth-child(80) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -64s;
  animation-delay: -64s;
  -webkit-transform: translate3d(502px, 246px, 64px);
  transform: translate3d(502px, 246px, 64px);
  background: #1c1717;
}

.bubble:nth-child(81) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -64.8s;
  animation-delay: -64.8s;
  -webkit-transform: translate3d(613px, 225px, 416px);
  transform: translate3d(613px, 225px, 416px);
  background: #1c1817;
}

.bubble:nth-child(82) {
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -65.6s;
  animation-delay: -65.6s;
  -webkit-transform: translate3d(623px, 468px, 313px);
  transform: translate3d(623px, 468px, 313px);
  background: #1c1817;
}

.bubble:nth-child(83) {
  height: 2px;
  width: 2px;
  -webkit-animation-delay: -66.4s;
  animation-delay: -66.4s;
  -webkit-transform: translate3d(117px, 366px, 372px);
  transform: translate3d(117px, 366px, 372px);
  background: #1c1817;
}

.bubble:nth-child(84) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -67.2s;
  animation-delay: -67.2s;
  -webkit-transform: translate3d(815px, 885px, 417px);
  transform: translate3d(815px, 885px, 417px);
  background: #1c1817;
}

.bubble:nth-child(85) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -68s;
  animation-delay: -68s;
  -webkit-transform: translate3d(632px, 936px, 2px);
  transform: translate3d(632px, 936px, 2px);
  background: #1c1717;
}

.bubble:nth-child(86) {
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -68.8s;
  animation-delay: -68.8s;
  -webkit-transform: translate3d(675px, 464px, 206px);
  transform: translate3d(675px, 464px, 206px);
  background: #1c1717;
}

.bubble:nth-child(87) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -69.6s;
  animation-delay: -69.6s;
  -webkit-transform: translate3d(454px, 553px, 292px);
  transform: translate3d(454px, 553px, 292px);
  background: #1c1817;
}

.bubble:nth-child(88) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -70.4s;
  animation-delay: -70.4s;
  -webkit-transform: translate3d(485px, 482px, 56px);
  transform: translate3d(485px, 482px, 56px);
  background: #1c1717;
}

.bubble:nth-child(89) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -71.2s;
  animation-delay: -71.2s;
  -webkit-transform: translate3d(482px, 528px, 334px);
  transform: translate3d(482px, 528px, 334px);
  background: #1c1717;
}

.bubble:nth-child(90) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -72s;
  animation-delay: -72s;
  -webkit-transform: translate3d(228px, 618px, 150px);
  transform: translate3d(228px, 618px, 150px);
  background: #1c1817;
}

.bubble:nth-child(91) {
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -72.8s;
  animation-delay: -72.8s;
  -webkit-transform: translate3d(892px, 623px, 409px);
  transform: translate3d(892px, 623px, 409px);
  background: #1c1817;
}

.bubble:nth-child(92) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -73.6s;
  animation-delay: -73.6s;
  -webkit-transform: translate3d(775px, 893px, 158px);
  transform: translate3d(775px, 893px, 158px);
  background: #1c1717;
}

.bubble:nth-child(93) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -74.4s;
  animation-delay: -74.4s;
  -webkit-transform: translate3d(983px, 127px, 206px);
  transform: translate3d(983px, 127px, 206px);
  background: #1c1717;
}

.bubble:nth-child(94) {
  height: 1px;
  width: 1px;
  -webkit-animation-delay: -75.2s;
  animation-delay: -75.2s;
  -webkit-transform: translate3d(368px, 124px, 395px);
  transform: translate3d(368px, 124px, 395px);
  background: #1c1817;
}

.bubble:nth-child(95) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -76s;
  animation-delay: -76s;
  -webkit-transform: translate3d(415px, 813px, 203px);
  transform: translate3d(415px, 813px, 203px);
  background: #1c1817;
}

.bubble:nth-child(96) {
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -76.8s;
  animation-delay: -76.8s;
  -webkit-transform: translate3d(826px, 655px, 22px);
  transform: translate3d(826px, 655px, 22px);
  background: #1c1717;
}

.bubble:nth-child(97) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -77.6s;
  animation-delay: -77.6s;
  -webkit-transform: translate3d(904px, 596px, 446px);
  transform: translate3d(904px, 596px, 446px);
  background: #1c1817;
}

.bubble:nth-child(98) {
  height: 3px;
  width: 3px;
  -webkit-animation-delay: -78.4s;
  animation-delay: -78.4s;
  -webkit-transform: translate3d(68px, 471px, 93px);
  transform: translate3d(68px, 471px, 93px);
  background: #1c1717;
}

.bubble:nth-child(99) {
  height: 4px;
  width: 4px;
  -webkit-animation-delay: -79.2s;
  animation-delay: -79.2s;
  -webkit-transform: translate3d(679px, 77px, 22px);
  transform: translate3d(679px, 77px, 22px);
  background: #1c1817;
}

.bubble:nth-child(100) {
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -80s;
  animation-delay: -80s;
  -webkit-transform: translate3d(292px, 981px, 421px);
  transform: translate3d(292px, 981px, 421px);
  background: #1c1717;
}
