@font-face {
    font-family: 'fuente';
    src: url('../Assets/Fonts/PrestigeEliteStd-Bd.otf');
}
body{
    font-family: "fuente";
}

.container{
    position: absolute;
}

.title{
    margin-top: 20px;
    margin-left: 20px;
}
.description{
    width: 400px;
    height: 200px;
    margin-top: 70px;
    margin-left: 80px;
}

#root{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 15%;
}